*.pyc
*.bak
old/
clean.sh
elm-stuff/
index.html
make.sh
.idea/
futhark-server/_heat.c
futhark-server/_heat.o
futhark-server/_heat.so
futhark-server/heat.h
futhark-server/heat.c
futhark-server/heat.py
